@import 'variables';

.formation {
  padding: 2rem 1rem;
  background-color: $background-dark;
  color: $text-light;
  font-family: 'Arial', sans-serif;

  .formation-timeline {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 2rem;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 2px;
      background-color: $primary-color;
    }
  }

  .formation-item {
    margin-bottom: 3rem;
    position: relative;
    width: 100%;
    padding-left: 2rem;
    box-sizing: border-box;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: -6px;
      width: 14px;
      height: 14px;
      background-color: $primary-color;
      border-radius: 50%;
      box-shadow: 0 0 0 3px $background-dark, 0 0 0 6px $primary-color;
    }
  }

  .formation-period {
    position: relative;
    font-weight: bold;
    color: $primary-color;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .formation-content {
    padding: 15px;
    background: $background-grey;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: left;

    h3 {
      color: $primary-color;
      margin-bottom: 0.5rem;
      font-size: 1.2rem;
    }

    h4 {
      color: $text-light;
      margin-bottom: 0.5rem;
      font-size: 1rem;
    }

    .formation-detail {
      margin-bottom: 0.5rem;

      .formation-year {
        font-weight: bold;
        color: $primary-color;
        font-size: 0.9rem;
      }

      .formation-project {
        font-style: italic;
        color: $grey;
        font-size: 0.9rem;
      }
    }
  }

  @media (min-width: 768px) {
    padding: 4rem 2rem;

    .formation-timeline {
      max-width: 1000px;
      padding-left: 0;

      &::before {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .formation-item {
      width: calc(50% - 2rem);
      margin-bottom: 4rem;
      box-sizing: content-box;

      &:nth-child(even) {
        float: left;
        clear: right;
        padding-right: 2rem;
        padding-left: 0;
      }

      &:nth-child(odd) {
        float: right;
        clear: left;
        padding-left: 2rem;
      }

      &:nth-child(even)::after {
        right: -8px;
        left: auto;
      }

      &:nth-child(odd)::after {
        left: -7px;
      }
    }

    .formation-period {
      position: absolute;
      top: 0;
      font-size: 1.1rem;
    }

    .formation-item:nth-child(even) .formation-period {
      right: -8rem;
    }

    .formation-item:nth-child(odd) .formation-period {
      left: -8rem;
    }

    .formation-content {
      text-align: right;

      h3 {
        font-size: 1.3rem;
      }

      h4 {
        font-size: 1.1rem;
      }

      .formation-detail {
        .formation-year,
        .formation-project {
          font-size: 1rem;
        }
      }
    }
  }
}